body {
	background-color: #005f6b;
	color: #9baec8;
	font-family: 'Cuprum', sans-serif;
	/*font-family: 'Rajdhani', sans-serif;*/
}

mark {
	background-color: #9baec8;
	color: #2E294E;
	margin: 0;
}

