body {
  background-image: url("images/clouds.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Exo 2', sans-serif;
  color: #181842;
}

.container {
  width: 100%;
  height: 200px; 
}

header {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  /*background-color: rgba(22,22,22,0.4);*/
  border-bottom: white;
  -webkit-transition: height 0.3s;
}

#title1 {
    letter-spacing: 4px;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 10px;
    color: #BDC8CA;
    text-shadow: -1px 0 #181842, 0 1px #181842, 1px 0 #181842, 0 -1px #181842;
  }

#title2 {
    letter-spacing: 2px;
    font-size: 24px;
    padding-left: 112px;
    color: #BDC8CA;
    text-shadow: -1px 0 #181842, 0 1px #181842, 1px 0 #181842, 0 -1px #181842;
  }

/*NAVBAR*/

* {
  margin: 0;
  padding: 0;
}
 
nav {
  margin: 50px;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: right;
  margin-right: 0px;
  margin-top: 150px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #BDC8CA;
  text-shadow: -1px 0 #181842, 0 1px #181842, 1px 0 #181842, 0 -1px #181842;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #181842;
  text-shadow: -1px 0 #BDC8CA, 0 1px #BDC8CA, 1px 0 #BDC8CA, 0 -1px #BDC8CA;
}
 
li.active a {
  font-weight: bold;
  color: #181842;
  text-shadow: -1px 0 #BDC8CA, 0 1px #BDC8CA, 1px 0 #BDC8CA, 0 -1px #BDC8CA;
}

/*  h1, nav {
    display: inline-block;
    float: right;
    position: relative;
    line-height: 30px;
    -webkit-transition: all 0.3s;
  }*/

header.minimized {
  height: 60px;
  
  h1,nav {
    line-height: 60px;
  }
  nav {
    font-size: 1.2em;
  }
  h1{
    font-size: 1.7em;
  }
  
}

.footer {
  background-color: #181842;
  color: #d8e9ef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#footer_info {
  padding-top: 12px;
  padding-left: 5px;
  font-size: 15px;
}

i.fa.fa-github {
  height: 10px;
  width: 10px;
}

i.fa.fa-twitter-square {
  height: 10px;
  width: 10px;
  padding-left: 10px;
}

/*ABOUT PAGE*/

.about_bio {
  padding-top: 20px;
  padding-left: 10px;
  color: #181842;
  width: 100%;
  margin: auto;
}

#about_pic {
  height: 250px;
  width: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 15px;
  margin-left: -100px;
  border-radius: 20px;
  z-index: -1;
  
}

/*PORTFOLIO PAGE*/

#portfolio_headline, #blog_headline {
  margin-left: 10px;
}

.portfolio_bio {
  color: #181842;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

#swollToll_tn, #typeTest_tn {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 250px; /* Set a small width */
}

#swollToll_tn:hover, #typeTest_tn:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#swollTollGit, #typeTestGit {
  color: #BDC8CA;
  text-shadow: -1px 0 #181842, 0 1px #181842, 1px 0 #181842, 0 -1px #181842;
}

#swollTollGit:hover, #typeTestGit:hover {
  color: #181842;
  text-shadow: -1px 0 #BDC8CA, 0 1px #BDC8CA, 1px 0 #BDC8CA, 0 -1px #BDC8CA;
}

/*BLOG PAGE*/

.blogposts a {
  color: #BDC8CA;
  text-shadow: -1px 0 #181842, 0 1px #181842, 1px 0 #181842, 0 -1px #181842;
  margin-left: 10px;
  margin-top: 200px;
}

.blogposts a:hover {
  color: #181842;
  text-shadow: -1px 0 #BDC8CA, 0 1px #BDC8CA, 1px 0 #BDC8CA, 0 -1px #BDC8CA;
}

/*INTERESTS PAGE*/

.carousel-inner {
  height: 400px;
  width: 400px;
}

.interests_bio {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}