@import "compass/css3";

body {
  background-image: url("images/clouds.jpg");
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 200px; 
}

header {
  font-family: sans-serif;
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  /*background-color: rgba(22,22,22,0.4);*/
  border-bottom: 3px solid rgba(0,0,0,0.4);
  -webkit-transition: height 0.3s;
}

.title1 {
    letter-spacing: 6px;
    font-size: 25px;
    padding-top: 40px;
  }

.title2 {
    letter-spacing: 2px;
    font-size: 15px;
  }

.navbar { 
  height:40px; 
  padding-left:100px;
}

.navbar ul.nav {
  list-style:none;
  margin:0;
  padding:0;
}

.navbar ul.nav li {
  float:left;
}

.navbar ul.nav li a {
 display:block;
 padding:10px; 
 text-decoration:none; 
 color:#fff;
}
.navbar ul.nav li a:hover { 
  background:#e67e22;
}
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  h1 {
    margin-top: 0;
  }
  
  h1, nav {
    display: inline-block;
    position: relative;
    line-height: 150px;
    -webkit-transition: all 0.3s;
  }
  
  a {       
    text-decoration: none;
    color: #ccc;
  }
  
  nav {
    line-height: 150px;
    font-size: 1.4em;
    a {
      margin-left: 10px;
    }
    
    a:hover{
      border-top: 2px dotted white;
      border-bottom: 2px dotted white;
    }
  }
  
}

header.minimized {
  height: 60px;
  
  h1,nav {
    line-height: 60px;
  }
  nav {
    font-size: 1.2em;
  }
  h1{
    font-size: 1.7em;
  }
  
}

.footer {
  background-color: #181842;
  color: #d8e9ef;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  
}



